@import url('./block/layout/normolize.css');
@import url('./block/layout/base.css');

@import url('./team.css');
@import url('./reviews.css');
@import url('./block/layout/header.css');
@import url('./block/layout/footer.css');
@import url('./block/layout/sidebar.css');
@import url('./block/layout/breadcrumbs.css');
@import url('./block/layout/form.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

.container__main {
  display: flex;
}


.cover {
  position: relative;
}

.title {
  left: 198.047px;
  font-size: 49px;
  font-family: "Roboto";
  font-weight: bold;
  margin: 0px 0px 40px 0px;
  line-height: 0.776;
}

.rates__title {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(38, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.167;
}

.rates__item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 270px;
  padding-top: 30px;
}

.item__rates-list {
  font-size: 16px;
  justify-content: space-between;
  text-align: left;
  margin-left: 20px;
  font-family: "Roboto";
  line-height: 1.667;
  list-style-type: disc;
}

.rates {
  border: 1px solid #e8e8ec;
}

.rates__name {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(38, 38, 38);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4;
  text-align: center;
}

.rates__text {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(38, 36, 36);
  line-height: 1.667;
  text-align: left;
}

p{
margin: 0px;
}

.item__rates-price {
  text-align: center;
  font-size: 50px;
  font-family: "Myriad Pro";
  line-height: 2.4;
}

.news__list {
  display: flex;
}
.news__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/3 - 20px);
  margin-right: 20px;
  margin-bottom: 30px;
}

.news__avatar {
  margin-right: 20px;
  margin-bottom: 44px;
}

.news-name {
  font-size: 18px;
  font-family: "Roboto";
  text-align: left;
  font-weight: bold;
}
.news__text {
  font-size: 14px;
  font-family: "Roboto";
  text-align: left;
  margin-top: 11px;
  margin-bottom: 5px;
  line-height: 1.52;
}

.news__avatar-img {
  max-height: 160px;
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  }

.pagination {
  display: flex;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: none;
  margin-bottom: 52px;
}

.pagination__list {
  display: flex;
}

.pagination__display {  
  margin-left: 200px;
  color: #646464;
  text-align: left;
  margin-right: 22px;
}

.pagination__link, .pagination__left, .pagination__right {
  text-decoration: none;
  color:black;
  letter-spacing: 13px;
  font-weight: bold;
}

.pagination__link:hover, .pagination__item--active {
  color: white;
  background-color: #5972b1;
  border-radius: 3px;
}

