html, body {
  height: 100%;
}

body {
  margin: 0px;
  color: black;
  font-size: 16px;
  line-height: 1.42;
}

h1,h2,h3,h4,h5,h6 p {
margin: 0px;
}
.wrapper {
  margin: 0 auto;
  min-width: 1200px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex: 1;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: block;
  max-width: 100%;
  text-decoration: none;
  list-style-type: none;
}

.img {
  display: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
  }