.header {
  background: #5973b1;
}

.header__container {
  font-family: "Roboto";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.logo__img {
  margin: 20px 0px 0px 21px;
}

.contacts__phone {
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 2.57;
  margin-right: 20px ;
}

.dropdown {
  margin-top: -25px;
  position: relative;
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu {
  position: absolute;
  background: #fff;
  opacity: 0.949;
  height: 70px;
  width: 160px;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(42, 61, 115, 0.55);
  top: 100%;
  display: none;
}

.dropdown__link{
  color: white;
  font-size: 14px;  
  text-decoration: underline;
  line-height: 3.857;
  margin: -28px 0 0 70px
}

.dropdown__link:hover {
  opacity: 0.702;  
}

.dropdown__list {
  margin-top: 10px;
}

.dropdown__work {
  color: #5972b1;
}



