.sidebar, .content-text{
  display: inline-block;
  vertical-align: top;
}

.menu__list {
  display: flex;
  list-style-type: none;
}

.menu__item {
  margin-right: 90px;
}

.sidebar {
  min-width: 20%;
  position: relative;
}

.menu__link {
  font-size: 12px;
  font-family: "Roboto";
  color: #5972b1;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.5;
  text-decoration: none;
  letter-spacing: 2px;
}
.menu__link:hover {
  color: black;
}
.menu__item--active .menu__link{
color: black;
}

.menu__link:before {
  content: "";
  display: inline-flex;
  margin-left: 20px;
  width: 23px;
  height: 19px;  
  background: left center / contain no-repeat;
}

.menu__item--main .menu__link:before {
  background-image: url(/img/icon/main_icon.png);
}
.menu__item--main .menu__link:hover:before {
  background-image: url(/img/icon/main_icon_active.png);
}
.menu__item--active.menu__item--main .menu__link:before {
  background-image: url(/img/icon/main_icon_active.png);
}


.menu__item--reviews .menu__link:before {
  background-image: url(/img/icon/star_icon.png);
}
.menu__item--reviews .menu__link:hover:before {
  background-image: url(/img/icon/star_icon_active.png);
}

.menu__item--pilots .menu__link:before {
  background-image: url(/img/icon/pilot_icon.png);
}
.menu__item--pilots .menu__link:hover:before {
  background-image: url(/img/icon/pilot_icon_active.png);
}